body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #202020;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6b8e23;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

header h1 {
    margin: 0;
}

header .saiba-mais {
    color: #ffffff;
    text-decoration: none;
    background-color: #556b2f;
    padding: 5px 10px;
    border-radius: 5px;
}

header .saiba-mais:hover {
    background-color: #6b8e23;
}

.main-content {
    padding: 20px;
    background-color: #303030;
    border-radius: 0 0 10px 10px;
}

.main-content .main-image {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    border: 5px solid #6b8e23;
    border-radius: 10px;
}

.objective {
    background-color: #556b2f;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.definition, .consequences {
    margin-bottom: 20px;
}

.symptoms {
    list-style-type: none;
    padding-left: 0;
}

.symptoms li {
    margin-bottom: 5px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer p {
    margin-bottom: 10px;
}

.social-media a {
    display: inline-block;
    margin: 0 5px;
}

.social-media img {
    width: 24px;
    height: 24px;
}