body {
    font-family: Arial, sans-serif;
    background-color: #2e492f;
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header {
    background-color: #3d6b41;
    padding: 10px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.header .menu {
    margin-top: 10px;
}

.header .menu a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.content {
    padding: 20px;
}

.content img {
    width: 100%;
    max-width: 600px;
    border: 2px solid #3d6b41;
    border-radius: 5px;
}

.content p {
    background-color: #3d6b41;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.content h2 {
    margin-top: 30px;
}

.footer {
    background-color: #3d6b41;
    padding: 10px;
    margin-top: 20px;
}

.footer p {
    margin: 0;
}

.footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.symptoms {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.symptoms li {
    background-color: #3d6b41;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}