*{
    margin: 0;
}

body {
    color:white ;
    background-color:#2B4033 ;
   
   }

.tam{
    width: 276px;
    border: 3px solid #8FA578;
}

header {
    justify-content: space-around;
    align-items: center;
    background-color: #8FA578;
    font-size: 120%;
}
.obj{
    text-align: center;
    padding: 12px 0;
}

.Objetivo{ 
    margin: 30px;
    background-color:#8FA578;
    padding: 15px;
    border: 3px solid rgb(255, 255, 255);
    font-size: 130%;
}


.intro{
   margin: 0%;
    padding: 20px;
}
 
.sb{
    padding: 15px;
    font-size: 117%;
}

.mm{
    display: flex;
    flex-wrap: nowrap;
}

.tam2{
    width: 210px; 
}
header a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
   background-color: rgb(134, 105, 61);
}